<div>

    <h2 translate="trackerApp.price.home.title">Prices</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#savePriceModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="trackerApp.price.home.createLabel">Create a new Price</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Price</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="savePriceModal" tabindex="-1" role="dialog" aria-labelledby="myPriceLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myPriceLabel" translate="trackerApp.price.home.createOrEditLabel">Create or edit a Price</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="price.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="trackerApp.price.value">Value</label>
                            <input type="number" class="form-control" name="value"
                                   ng-model="price.value" required>

                            <div ng-show="editForm.value.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.value.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.value.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="trackerApp.price.createdAt">CreatedAt</label>
                            <input type="datetime-local" class="form-control" name="createdAt"
                                   ng-model="price.createdAt" ng-model-options="{timezone: 'UTC'}" required>

                            <div ng-show="editForm.createdAt.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.createdAt.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.createdAt.$error.datetimelocal" translate="entity.validation.datetimelocal">
                                    This field should be a date and time.
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label translate="trackerApp.price.productToTrack">productToTrack</label>
                            <select class="form-control" name="productToTrack" ng-model="price.productToTrack.id" ng-options="productToTrack.id as productToTrack.name for productToTrack in producttotracks">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deletePriceConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(price.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="trackerApp.price.delete.question" translate-values="{id: '{{price.id}}'}">Are you sure you want to delete this Price?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="trackerApp.price.value">Value</th>
                    <th translate="trackerApp.price.createdAt">CreatedAt</th>
                    <th translate="trackerApp.price.productToTrack">productToTrack</th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="price in prices">
                    <td><a ui-sref="priceDetail({id:price.id})">{{price.id}}</a></td>
                    <td>{{price.value}}</td>
                    <td>{{price.createdAt}}</td>
                    <td>{{price.productToTrack.name}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="priceDetail({id:price.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="showUpdate(price.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(price.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
