<div>

    <h2 translate="trackerApp.store.home.title">Stores</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveStoreModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="trackerApp.store.home.createLabel">Create a new Store</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveStoreModal" tabindex="-1" role="dialog" aria-labelledby="myStoreLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myStoreLabel" translate="trackerApp.store.home.createOrEditLabel">Create or edit a Store</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" class="form-control" name="id"
                               ng-model="store.id" readonly>

                        <div class="form-group">
                            <label translate="trackerApp.store.name">Name</label>
                            <input type="text" class="form-control" id="name" name="name"
                                   ng-model="store.name" autofocus="true" required>

                            <div ng-show="editForm.name.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.name.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="trackerApp.store.baseDomSelector">BaseDomSelector</label>
                            <input type="text" class="form-control" name="baseDomSelector"
                                   ng-model="store.baseDomSelector">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteStoreConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(store.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="trackerApp.store.delete.question" translate-values="{name: '{{store.name}}'}">Are you sure you want to delete this Store?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="trackerApp.store.name">Name</th>
                    <th translate="trackerApp.store.baseDomSelector">BaseDomSelector</th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="store in stores">
                    <td>{{store.name}}</td>
                    <td>{{store.baseDomSelector}}</td>
                    <td>
                        <button type="submit"
                                ng-click="showUpdate(store.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit" ng-show="!store.deletionDisabled"
                                ng-click="delete(store.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
